//#421f80
$primary-color: #1f6680;
$dark-color: darken($primary-color, 5%);
$very-dark: darken($primary-color, 20%);

//Stickied Note™ Colors
//#feff9c
//#ff7eb9
//#ffa930
$sticky-note: #feff9c;
$sticky-note-dark: #ab9468;